/* --- Variables CSS --- */
:root {
    --bg-color: hsl(204, 95%, 25%);
    --bg-color-ts: hsla(204, 95%, 25%, 0.7);
    /* background des dropdowns */
    --bg-dropdown:     
    linear-gradient(135deg, transparent 0px,
        var(--bg-color-ts) 0) top left,
    linear-gradient(225deg, transparent 0px,
        var(--bg-color-ts) 0) top right,
    linear-gradient(315deg, transparent 20px,
        var(--bg-color-ts) 0) bottom right,
    linear-gradient(45deg,  transparent 0px,
        var(--bg-color-ts) 0) bottom left;

    --bg-header:     
    linear-gradient(135deg, transparent 0px,
        var(--bg-color-ts) 0) top left,
    linear-gradient(225deg, transparent 0px,
        var(--bg-color-ts) 0) top right,
    linear-gradient(315deg, transparent 40px,
        var(--bg-color-ts) 0) bottom right,
    linear-gradient(45deg,  transparent 0px,
        var(--bg-color-ts) 0) bottom left;

    --font-color: hsl(0, 0%, 100%);
    --header-color: hsl(313, 74%, 40%);
    --hl-color: hsl(204, 95%, 30%);
    --hl-active-color: hsl(204, 95%, 35%);
    --hl-color-desk: hsl(313, 74%, 45%);
    --hl-active-color-desk: hsl(313, 74%, 50%);
    --light-header-color : hsl(313, 74%, 60%);
    --shadow-color: hsla(0, 0%, 0%, 0.3);
}

@keyframes         bg-scrolling-reverse {
    100% { background-position: 50px 50px; }
}

/* --- Styles généraux --- */
body {
    animation: bg-scrolling-reverse .92s infinite;
    animation-timing-function: linear;
    background: url(../img/PBR_2.png);
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
}

h1, .h1 {
    font-size: 52px;
    margin-bottom: 25px;
}

h2, .h2 {
    font-size: 42px;
    margin-bottom: 20px;
}

h3, .h3 {
    font-size: 32px;
    margin-bottom: 15px;
}

h4, .h4 {
    font-size: 22px;
    margin-bottom: 15px;
}

h5, .h5 {
    font-size: 18px;
    margin-bottom: 10px;
}

h6, .h6 {
    font-size: 16px;
    margin-bottom: 10px;
}





/* --- "Framework" --- */

.container {
    padding-right: 15px;
    padding-left: 15px;
}

.hidden {
    display: none !important;
}

.icon-w {
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    width: 30px;
    height: 30px;
}



/* --- Pages --- */



/* --- Header --- */
.top-header {
    background-color: var(--header-color);
    height: 62px;
    z-index: 2;
}

    .top-header div.h3 {
        margin-bottom: 0;
    }

.mid-header {
    background-color: var(--bg-color-ts);
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1;
}

    .mid-header .photo-cv {
        padding-top: 15px;
    }


    .mid-header .photo-cv img {
        align-self: center;
        border-radius: 50%;
        box-shadow: 0px 0px 4px var(--shadow-color);
        height: 100%;
        width: 300px;
    }


.bottom-header {
    background-color: var(--bg-color-ts);
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: relative;
    text-align: center;
    align-items: center;
    z-index: 1;
}

    .bottom-header address {
        text-align: left;
    }

        .bottom-header address a {
            display: inline-block;
        }

        .bottom-header address i {
            font-size: 24px;
        }




/* --- Main --- */

.skills,
.projobs,
.diplomas {
    display: flex;
    flex-direction: column;
    margin: 10%;
}

.skills ul {
    background: var(--bg-dropdown);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    columns: 2 auto;
    padding: 15px 10%;
}


    div.h3 {
        display: flex;
        flex-direction: row;
        padding-left: 15px;
    }

        div.h3::after {
            margin-left: auto;
        }

            div.h3.opened::after {
                content: "▲";
            }

            div.h3.closed::after {
                content: "▼";
            }



.projobs p,
.diplomas p {
    background: var(--bg-dropdown);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    padding: 15px 10%;
}



.btn-dropdown {
    background:  
        linear-gradient(135deg, transparent 25px, var(--header-color) 0) top left,
        linear-gradient(225deg, transparent 0px, var(--header-color) 0) top right,
        linear-gradient(315deg, transparent 0px, var(--header-color) 0) bottom right,
        linear-gradient(45deg,  transparent 0px, var(--header-color) 0) bottom left;
    background-size: 51% 51%;
    background-repeat: no-repeat;
    padding: 15px;
}

    .btn-dropdown div.h3 {
        margin: 0;
    }





/* - Menu principal - */
.btn-burger {
    background:  
    linear-gradient(135deg, transparent 6px, var(--bg-color) 0) top left,
    linear-gradient(225deg, transparent 0px, var(--bg-color) 0) top right,
    linear-gradient(315deg, transparent 6px, var(--bg-color) 0) bottom right,
    linear-gradient(45deg,  transparent 0px, var(--bg-color) 0) bottom left;
    background-size: 51% 51%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: space-between;
    padding: 6px;
    position: absolute;
    right: 15px;
    top: 11px;
    width: 40px;
    z-index: 1;
}

    .btn-burger span {
        background-color: var( --light-header-color );
        border-radius: 3px;
        padding: 3px 0;
        transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }

    .btn-burger span:nth-child(1) {
        transform-origin: 3px 50%;
    }

        /* Barre du burger lorsqu'il est en mode "croix" */
        .btn-burger.close span:nth-child(1) {
            /* on peut appliquer plusieurs transformations en les séparant par un espace */
            /* Angle de rotation en degrès (deg) ou en tours (turn)*/
            transform: rotateZ( 1125deg ) translate( 5px, 0 );
        }

    /* 2ème barre */
    .btn-burger.close span:nth-child(2) {
        transform: rotateY( 90deg );
    }

    /* 3ème barre */
    .btn-burger span:nth-child(3) {
        transform-origin: 3px 50%;
    }

        .btn-burger.close span:nth-child(3) {
            transform: rotateZ( -1125deg ) translate( 4px, 0 );
        }

.main-menu-w a {
    font-weight: 700;
    outline: 0;
    text-decoration: none;
    background-color: var( --bg-color );
}

    .main-menu-w nav li {
        border-top: 1px solid var(--header-color);
        transform: translateY(60px);
    }

    .main-menu-w nav a {
        display: block;
        padding: 15px;
        text-align: center;
    }

    /* Un lien cliqué prend l'état :focus */
    .main-menu-w nav > ul > li > a:focus {
        background-color: var( --hl-color );
    }

    /*
        :active => Etat d'un lien lorsque le clic ou le toucher est maintenu dessus
    */
    .main-menu-w nav > ul > li > a:active {
        background-color: var( --hl-active-color );
    }





/* --- Media Queries --- */

@media (max-width: 450px) {

    .skills .h5 {
        font-size: 14px;
    }

}

@media (max-width: 320px) {

    .skills .h5 {
        font-size: 10px;
    }

}

@media (min-width: 768px) {

    .skills ul {
        columns: 3 auto;
    }

    .skills .h5 {
        font-size: 24px;
    }

    .mid-header {
        background: var(--bg-color-ts);
    }

    .bottom-header {
        background: var(--bg-header);
        background-size: 50% 50%;
        background-repeat: no-repeat;
        box-shadow: none;
    }

}

@media (min-width: 992px) {


    /* - Framework - */
    .container {
        max-width: 940px;
        margin-right: auto;
        margin-left: auto;
    }


    /* - Menu principal - */
    .btn-burger {
        display: none;
    }
    .main-menu-w nav {
        display: block !important;
    }

        .main-menu-w nav li {
            border-top: 0;
            transform: translateY(0px);
        }

        .main-menu-w nav ul {
            display: flex;
        }



    /* - Page - */
    header {
        display: grid;
        grid-auto-flow: row;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }

    .top-header {
        grid-column-start: 1;
        grid-column-end: 3;
        height: 100%;
    }

        .top-header .main-menu-w a {
            background-color: transparent;
        }

            .top-header .main-menu-w nav > ul > li > a:focus {
                background-color: var( --hl-color-desk );
            }

            .top-header .main-menu-w nav > ul > li > a:active {
                background-color: var( --hl-active-color-desk );
            }

    .mid-header {
        background: var(--bg-header);
        background-size: 50% 50%;
        background-repeat: no-repeat;
    }

    .bottom-header {
        background: var(--bg-header);
        background-size: 50% 50%;
        background-repeat: no-repeat;
        box-shadow: none;
        height: 60%;
        align-items: flex-start;
    }


}

@media print {

    /* 

    TODO: A faire plus tard si j'ai le temps 

    */

}
